
@{
    ViewData["Title"] = "The More You Know";
}
<body style="background-color: #141414" >
    <div class="text-center">
        <h1 class="display-4" style="color: #ffc107">Utah Motor Vehicle Crashes Fun Facts</h1>

        <div class="container p-5 my-5 border border-warning " style="background-color: #ffc107">
            <h4>Utah Stats</h4>
            <ul class="text-left">
                <li>Crash occurs in Utah every 8 minutes. A person is injured in a crash every 20 minutes, and a person dies in a crash every 33 hours.</li>
                <li>Utah Crashes are a leading cause of injury-related death for Utahns.</li>
                <li>In 2018 there were 62,074 motor vehicle crashes on public roadways in Utah, resulting in 25,645 injured persons and 260 dealths. (Utah Highway Safety Office)</li>
            </ul>
        </div>

        <h3 style="color: #ffc107">Graphs from data?</h3>
        <img src="~/img/crashes_per_city.png" width="1100" class="m-2"/>
        <br />
        <img src="~/img/Date_of_Crashes.png" width="1100" />
        <div class="container p-5 my-5 border border-warning " style="background-color: #ffc107">
            <h4>How can you better prevent crashes?</h4>
            <ul class="text-left">
                <li>ALways where a seatbelt</li>
                <li>Use car seats when riding with children (0-8) and learn to install the car seats correctly</li>
                <li>Create environments that prevent impaired driving (take over for drowsey drivers, designated drivers, etc.)</li>
            </ul>
        </div>

    </div>
</body>