@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: #141414">
<div class="text-center" >
    <h1 class="display-4" style="color: #ffc107">Yeet!</h1>

    <div class="container p-5 my-5 border border-warning "style="background-color: #ffc107">
        <h5>Welcome!</h5>
        <p>
            This website is here to provide critical information regarding Utah Crashes between the years 2016-2019. The original data came from The Crash Studies Team at UDOT’s Traffic & Safety Division. This site explores the connections between crash severity and the Utah motor vehicle collision data.
        </p>
    </div>
    <div class="container">
            <img src="~/img/shattered_window.jpg" width="450" class="text-left m-1"/>
            <img src="~/img/car_crash_3.jpg" width="375" class="text-right m-1" />           
    </div>
    <div class="container p-5 my-5 border border-warning style warning" style="background-color: #ffc107">
        <p>
            While exploring this site, you can look over crash information, including factors of drowsiness, dui, age, and locations. There is even a section that will allow you to predict how severely you can be injured based on many factors, some which are mentioned above.
        </p>
    </div>

    <div class="container">
        <img src="~/img/car_crash_4.jpg" width="450" class="text-left m-1"/>
        <img src="~/img/car_crash_2.jpg" width="450" class="text-right m-1" />
    </div>

    <div class="container p-5 my-5 border border-warning" style="background-color: #ffc107">
        <p>There are many concerns in regards to traffic accents in Utah. We hope the information below can help provide a better understanding of the significance of safe driving and awareness. </p>
    </div>

    <p style="color: #ffc107">If you are a member or admin, please <a asp-action="">log in</a> to add, update, edit, or delete information regarding car crashes in the Utah area.</p>
</div>
</body>