@{
    ViewData["Title"] = "ML Model";
}

<body style="background-color: #141414">
    <div style="color: #ffc107">
        <h1>Machine Learning Model</h1>

        <p>This is a placeholder for our machine learning model implementation.</p>
</div>
</body>